<!DOCTYPE html>
<html lang="en">
<head>
<!-- Use correct character set. -->
<meta charset="utf-8">
<!-- Tell IE to use the latest, best version. -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>Hello (Cesium) World!</title>

<script src="https://cesiumjs.org/releases/1.39/Build/Cesium/Cesium.js"></script>
<script src="https://cesiumjs.org/releases/1.39/Apps/Sandcastle/Sandcastle-header.js"></script>
<link rel="stylesheet" type="text/css" href="https://cesiumjs.org/releases/1.38/Build/Cesium/Widgets/widgets.css"/>

<style>
  html, body, #cesiumContainer {
	  width: 800px; height: 600px; margin: 0; padding: 0; overflow: hidden;
  }
  
</style>
</head>
<body>
<div id="cesiumContainer"></div>
<script>
  var viewer = new Cesium.Viewer('cesiumContainer'); 

  var ds = Cesium.CzmlDataSource.load("data.czml");
  viewer.dataSources.add(ds);
  
</script>
</body>
</html>